@model List<Customer>
@{
    ViewBag.Title = "Customer Database";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<h1>Customer Database</h1>
<body>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Username</td>
                    <td>@customer.Password</td>
                    <td>
                        <a asp-controller="Customer" asp-action="Edit"
                           asp-route-id="@customer.CustID">Edit</a>
                        <a asp-controller="Customer" asp-action="Delete"
                           asp-route-id="@customer.CustID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a asp-controller="Customer" asp-action="Add">Sign Up</a>
</body>
</html>
